# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# next.js
.next/
out/

# local env files
.env*

# misc
.DS_Store
.idea/
.vscode/

# lockfiles (keep if you track npm lock instead)
yarn.lock
pnpm-lock.yaml
